.slider {
  --totSlides: 3;
  --slideWidth: 250px;
  --slideHeight: 100px;
  --animationSpeed: calc(3s * var(--totSlides));
  height: var(--slideHeight);
  margin: auto;
  overflow: hidden;
  /* position: relative; */
  width: 100%;
  background: white;
  box-shadow: 0 10px  -5px rgba(118, 113, 113, 0.125);
}

.slide {
  height: 100px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(203, 195, 195);
  margin-left: 10px;
  margin-top: 5px;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  color: #241c1c;
}

.slider .slides-track {
  animation: scroll var(--animationSpeed) linear infinite;
  display: flex;
  width: calc(var(--slideWidth) * var(--totSlides) * 3);
}

.slider .slide {
  height: 100px;
  width: var(--slideWidth);
  filter: grayscale(100);
  overflow: hidden;
}

/* .slider .slide img {
  height: 100%;
  width: auto;
  max-width: 100%;
  object-fit: contain;
} */

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(var(--slideWidth) * var(--totSlides) * -1));
  }
}
